*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color: rgb(127, 127, 237);
    height: 100vh;
    width: 100vw;

}
.box{
    text-align: center;
    background-color: #fff;
   position: relative;
   height: 60vh;
   width: 65vw;
   top: 10%;
   left: 10%;

   
  
}
.t-img{

   margin-left: 92%;
}
.Quote{
   
    margin: auto;
    margin-top: 10%;
    
}
#author{
   
    margin-left: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
 
    top: 250px;
    left: 20%;
    width: 150px;
    height: 30px;
    border-radius: 0.4rem;
    margin-top: 7vh;
    margin-bottom: 1vh;
  


}
.fotter{
    display: block;
    background-color: rgb(86, 86, 204);


    width: 100%;
    height: 1.5rem;
    margin-top: 10vh;
  
}
newQuote{
    width: 400px;
}

.btn:hover , .btn:active{
    background-color: rgb(103, 103, 249);
}

